<h1 style="text-align: center; padding-bottom: 30px;">Representatives</h1>

<% @states.each do |state| %>
<table class="ui striped table">
  <thead>
    <tr>
      <th class="center aligned" colspan="2"><%= state.name %></th>
    </tr>
  </thead>
  <tbody>
  <% state.alphabetic_reps.each do |rep| %>
      <tr>
          <td class="center aligned eight wide"><%= link_to rep.full_name, representative_path(rep) %></td>
          <td class="center aligned eight wide"><%= rep.district.fancy %></td>
      </tr>
        <% end %>
  </tbody>
</table>
    <% end %>

<br>