<h1>Representatives</h1>
<% @states.each do |state| %>
  <p><%= state.name%></p>
  <ul>
  <% state.districts.each do |district| %>
    <% if district.representative.in_office %>
      <li><%= link_to district.representative.full_name, representative_path(district.representative) %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>