<h1 style="text-align: center; padding-bottom: 30px;">Senators</h1>

<table class="ui large very padded table">
  <thead>
    <tr>
      <th class="center aligned four wide">Junior Senator</th>
      <th class="center aligned four wide">State</th>
      <th class="center aligned four wide">Senior Senator</th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td class="center aligned"><%= link_to state.junior_senator.full_name, senator_path(state.junior_senator) %></td>
        <td class="center aligned"><strong><%= state.name %></strong></td>
        <td class="center aligned"><%= link_to state.senior_senator.full_name, senator_path(state.senior_senator) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>